:root {
    --bs-dark-rgb: 44, 62, 80;
    --bs-success-rgb: 26 ,188, 156;
}

.nav_link_font {
    font-size: 10px;
    font-weight: 500;
}

.line_white::before,
.line_white::after,
.line_black::before,
.line_black::after {
    content: "";
    display: inline-block;
    height: 2px;
    background-color: white;
    border-radius: 1px;
    width: 12%;
    transform: translateY(-200%);
}

.line_black::before,
.line_black::after {
    background-color: black;
}

.btn-outline-success {
    color: white;
    border-color: white;
}

.btn-outline-success:hover {
    color: rgb(26 ,188, 156);
    background-color: white;
    border-color: white;
}