:root {
    --bs-dark-rgb: 44, 62, 80;
    --bs-success-rgb: 26 ,188, 156;
}

body {
    overflow-x: hidden;
}

.nav_link {
    font-size: 11px;
    font-weight: 500;
}

.nav_link:hover {
    text-decoration: underline !important;
} 

.nav_hamburger_menu_container {
    padding: 3px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 3px;
}

.nav_hamburger_menu_button {
    text-decoration: none;
    color: white;
    padding: 3px 6px;
}

.nav_hamburger_menu_button:hover {
    color: white;
}

.line_white::before,
.line_white::after,
.line_black::before,
.line_black::after {
    content: "";
    display: inline-block;
    height: 2px;
    background-color: white;
    border-radius: 1px;
    width: 12%;
    transform: translateY(-200%);
}

.line_black::before,
.line_black::after {
    background-color: black;
}

.card_image {
    position: relative;
}

.card_image:hover::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 12px;
    right: 12px;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 2;
    border-radius: 3px;
}

.card_image_overlay_text {
    display: none;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 15%;
    width: 70%;
    text-align: center;
    color: white;
    z-index: 3;
}

.card_image:hover .card_image_overlay_text {
    display: block;
}

.btn-outline-success {
    color: white;
    border-color: white;
}

.btn-outline-success:hover {
    color: rgb(26 ,188, 156);
    background-color: white;
    border-color: white;
}

.form-floating>.height_150_px {
    height: 150px;
}

.btn-success {
    color: white;
    background-color: rgb(26 ,188, 156);
    border-color: rgb(26 ,188, 156);
}

.btn-success:hover {
    background-color: rgb(17, 153, 126);
    border-color: rgb(17, 153, 126);
}

.square {
    height: 32px;
    width: 32px;
    border: 1px solid white;
    position: relative;
    display: inline-block;
}

.link_icon {
    color: white;
    padding: 8px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
} 

/* .link_icon:hover {
    color: rgb(26 ,188, 156);
} 

.square:hover {
    border: 1px solid rgb(26 ,188, 156);
} */

#facebook:hover {
    color: white;
} 

#facebook_square:hover {
    border: 1px solid #1d4594;
}

#google:hover {
    color: #e34133;
} 

#google_square:hover {
    border: 1px solid white;
}

#twitter:hover {
    color: #009ded;
} 

#twitter_square:hover {
    border: 1px solid #009ded;
}

#linkedin:hover {
    color: #0076b3;
} 

#linkedin_square:hover {
    border: 1px solid #0076b3;
}

.link_text {
    color: rgb(26 ,188, 156);
    text-decoration: none;
}

.link_text:hover {
    color: rgb(17, 153, 126);
}

.bg_copyright {
    background-color: rgb(34, 49, 63);
}

.font_size_small {
    font-size: 10px;
}